- title 'Parties'
- description "Political parties with councillors on Dublin City Council"
- keywords "city council, parties"

%header.view-header
  .wrapper{role: 'layout'}
    %h1= link_to "Parties", :parties

%main.view-content{role: 'layout'}
  .wrapper{role: 'layout'}
    %ul.list.-enumerable
      - @parties.each do |party|
        %li
          = link_to party do
            = render partial: 'party', locals: {party: party}

%footer.view-footer
  .wrapper{role: 'layout'} &nbsp;