%header.view-header
  .wrapper{role: 'layout'}
    %h1= link_to "Councillors", [:admin, :councillors]

%main.view-content{role: 'layout'}
  .wrapper{role: 'layout'}
    %ul.list.-enumerable
      - @councillors.each do |councillor|
        %li
          = link_to [:admin, councillor] do
            = render partial: 'councillors/councillor', locals: {councillor: councillor}

%footer.view-footer
  .wrapper{role: 'layout'}
    = render partial: 'shared/pagination', locals: {records: @councillors}