.view-content.-omega
  .wrapper{role: 'layout'}
    %ul.list.-enumerable
      - meeting.attendances.countable.includes(:councillor).each do |attendance|
        %li
          = link_to attendance.councillor do
            = render partial: 'meetings/attendance', locals: {attendance: attendance}