- cache meeting do
  .row
    .col-xs-2
      .text.-fixed= meeting.occurred_on.strftime('%d.%m.%y')
    .col-xs-8
      = meeting.meeting_type_in_english
    .col-xs-2
      .text.-fixed.-right= pluralize meeting.attendances.attended.count, 'attendee'
