- title 'Meetings'
- description "Meeting held by Dublin City Council"
- keywords "city council, meetings"

- cache @meetings do
  %header.view-header
    .breadcrumbs
      .breadcrumbs_crumb
        %h1= link_to "Meetings", :meetings

  .view{role: 'layout'}
    %ul.list.-enumerable
      - @meetings.each do |meeting|
        %li
          = link_to meeting_path(meeting_type: meeting.meeting_type, occurred_on: meeting.occurred_on) do
            = render partial: 'meetings/meeting', locals: {meeting: meeting}

  %footer.view-footer
    = render partial: 'shared/pagination', locals: {records: @meetings}