- title 'Meetings'
- description "Meeting held by Dublin City Council"
- keywords "city council, meetings"

- cache @meetings do
  %header.page-header
    .wrapper{role: 'layout'}
      .breadcrumbs
        .breadcrumbs_crumb
          %h1= link_to "Meetings", :meetings

  .primary-main_content
    .wrapper{role: 'layout'}
      %ul.list.-enumerable
        - @meetings.each do |meeting|
          %li
            = link_to meeting_path(meeting_type: meeting.meeting_type, occurred_on: meeting.occurred_on) do
              = render partial: 'meetings/meeting', locals: {meeting: meeting}
