%header.view-header
  .wrapper{role: 'layout'}
    %h1= link_to "Electoral events", [:admin, :events]

%main.view-content{role: 'layout'}
  .wrapper{role: 'layout'}
    %ul.list.-enumerable
      - @events.each do |event|
        %li
          = link_to [:admin, event] do
            = render partial: 'admin/events/event', locals: {event: event}

%footer.view-footer
  .wrapper{role: 'layout'}
    = render partial: 'shared/pagination', locals: {records: @events}