%header.view-header
  .wrapper{role: 'layout'}
    %h1= link_to "Meetings", [:admin, :meetings]

%main.view-content{role: 'layout'}
  .wrapper{role: 'layout'}
    %ul.list.-enumerable
      - @meetings.each do |meeting|
        %li
          = link_to [:admin, meeting] do
            = render partial: 'meetings/meeting', locals: {meeting: meeting}

%footer.view-footer
  .wrapper{role: 'layout'}
    = render partial: 'shared/pagination', locals: {records: @meetings}