%header.view-header
  .wrapper{role: 'layout'}
    .breadcrumbs
      .breadcrumb= link_to 'Meetings', [:admin, :meetings]
      .breadcrumb= link_to 'New meeting', [:new, :admin, :meeting]

.view-content
  .wrapper{role: 'layout'}
    = render partial: 'admin/meetings/form', locals: { meeting: @meeting }
