.enumerable.-motion
  .indicator.vote-indicator
    = render partial: 'icons/vote', locals: {voteable: motion}

  .content
    .title #{ motion.title }

  .detail
    .date #{ motion.occurred_on.strftime('%-d %b \'%y') }
    .votes= render partial: 'votes/breakdown', locals: {voteable: motion}