- cache motion do
  .enumerable.-motion
    .content
      .title #{ motion.title }

    .date #{ raw motion.occurred_on.strftime('%d %b \'%y') }

    .outcome
      = render partial: 'votes/breakdown', locals: {voteable: motion}
      = render partial: 'votes/result', locals: {voteable: motion}