html
  font-size: 16px
  line-height: 1.3
  height: 100%

  @media screen and (min-width: $small)
  @media screen and (min-width: $medium)
  @media screen and (min-width: $large)
  @media screen and (min-width: $giant)
    font-size: 1.25vw

body
  background-color: $faint
  color: $black
  font-family: $sans
  font-weight: 400
  font-size: ms(0)
  min-height: 100%

  a, a:link, a:visited
    color: $black

    &:hover
      color: $blue
      background-image: linear-gradient($white, $white), linear-gradient($white, $white), linear-gradient($blue, $blue)
      text-shadow: .03em 0 $white, -.03em 0 $white, 0 .03em $white, 0 -.03em $white, .06em 0 $white, -.06em 0 $white, .09em 0 $white, -.09em 0 $white, .12em 0 $white, -.12em 0 $white, .15em 0 $white, -.15em 0 $white

a, a:link, a:visited
  text-decoration: none
  &:hover
    background-size: .05em 1px, .05em 1px, 1px 1px
    background-repeat: no-repeat, no-repeat, repeat-x
    background-position: 0 95%, 100% 95%, 0 95%

  ::selection
    color: $white
    text-shadow: none
    background: $blue

strong, b, big
  font-weight: 500

h1, h2, h3
  font-weight: 500

::selection
  color: $white
  background: $blue

section
  margin-bottom: 1rem
  &:first-child
    header.subheader
      padding-top: 0
  &:last-child
    margin-bottom: 0
