html
  font-size: 10px

body
  background-color: var(--white)
  color: var(--black)
  font-family: var(--sans)
  font-weight: 400
  font-size: var(--t3)
  line-height: 1.3

  a, a:link, a:visited
    color: var(--black)
    text-decoration: none