.button
  background: var(--white)
  color: var(--black)
  padding: 0.5rem 1rem
  border: 0.55px solid var(--black)
  margin: 0

  &:hover
    border-color: var(--blue)
    color: var(--blue)
    cursor: pointer