.list.-nav
  li
    &:before
      content: '- '

.list.-inline
  li
    display: inline-block
    margin-right: 0.5rem

.list.-thirds.-enumerable
  width: 100%
  li
    width: 32.5%
    display: inline-block

.list.-inline.-dotted
  & > li
    display: inline
    margin: 0
    &:before
      content: ' · '
    &:first-child
      &:before
        content: ''

.list.-sentence
  li
    display: inline-block
    &:after
      content: ', '
    &:last-child
      &:after
        content: '.'

.list.-tags
  max-height: 1.25em
  max-width: 100%
  white-space: nowrap
  text-overflow: ellipsis
  overflow: hidden
  .tag
    display: inline-block
    background: $faint
    font-size: ms(-1)
    text-transform: lowercase
    font-weight: 400
    color: $grey
    font-family: $mono
    padding: 0 0.125rem
    border-radius: 2px
    text-shadow: none !important

.list.-enumerable
  padding: 0.5rem 0

  & > li
    display: block
    padding: 0.5rem 0

    &:first-child
      & > a, & > a:link, & > a:visited
        border-top: 1px dotted $faint

    & > a, & > a:link, & > a:visited
      display: block
      margin: -0.5rem 0
      padding: 0.5rem 0
      border-bottom: 1px dotted $faint
      &:hover
        background: rgba($faint,0.5)

.list.-dashed
  & > li
    &:before
      content: '- '

  &.-done
    & > li
      text-decoration: line-through
      &:before
        content: ''

.list.-control
  & > li
    display: block
    overflow: hidden
    .select
      float: right

dl.data
  dt
    font-weight: 500
    font-family: $mono
  dd
    margin-bottom: 0.25rem
    padding: 0.25rem
    background-color: $faint

.list.-small
  border-top: 1px dotted $faint
  & > li
    padding: 0.125rem
    border-bottom: 1px dotted $faint

.list.-councillors
  & > li
    & > a, & > a:link, & > a:visited
      display: block
      margin: -0.5rem 0
      padding: 0.5rem 0 0.5rem 3rem
