.list.-enumerable
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: stretch

  & > li + li
    border-top: var(--stroke) solid var(--black)
  
  & > li
    padding: 0.75rem 0
    display: flex
    flex-grow: 1
    width: 100%

    & > a, & > div
      width: 100%
      flex-grow: 1
      margin: -0.75rem 0
      padding: 0.75rem 0
    
    & > a
      &:hover
        color: var(--blue)

  &.-mini
    padding: 0.325rem 0
    & > li + li
      border-top: var(--stroke) solid var(--faint)

    & > li
      padding: 0.325rem 0
      font-size: var(--t4)

      & > a
        width: 100%
        flex-grow: 1
        margin: -0.325rem 0
        padding: 0.325rem 0

.list.-capitalize
  &:first-letter
    text-transform: capitalize

.list.-emmed
  li
    &:before
      content: '— '
      color: var(--grey)

.list.-errors
  margin-bottom: var(--gutter)
  color: var(--red)
  list-style: inside circle

.list.-inline
  display: flex
  flex-direction: row
  justify-content: flex-start
  align-items: flex-start
  flex-wrap: wrap

  li
    &:after
      content: ', '
    &:last-child
      &:after
        content: ''