h1, h2, h3, h4, h5
  font-weight: 400
  
.p
  &.-t1
    font-size: var(--t1)
  &.-t2
    font-size: var(--t2)
  &.-t3
    font-size: var(--t3)
  &.-t4
    font-size: var(--t4)
  &.-t5
    font-size: var(--t5)

.footer-block
  padding-right: 3rem

  p, ul, ol
    margin-bottom: 2rem

    &:last-child
      margin: 0

  a, a:link, a:visited
    font-weight: 600
    &:hover
      color: var(--blue)

.text-block
  max-width: var(--text-block-width)
  padding-right: 3rem

  a, a:link, a:visited
    font-weight: 400
    background-image: linear-gradient(var(--white) 86%, var(--black) 86%,var(--black) 88%,var(--white) 88%)
    text-shadow: 1px 1px 0 var(--white), -1px 1px 0 var(--white)
    background-position: left bottom
    background-size: 100% 100%
    background-repeat: no-repeat
    background-color: transparent
    &:hover
      color: var(--blue)
      background-image: linear-gradient(var(--white) 86%, var(--blue) 86%,var(--blue) 88%,var(--white) 88%)
  
  h1
    margin-bottom: 2rem

  h3
    font-weight: 400
  
  h3 + p, h3 + ul, h3 + ol
    text-indent: 5rem

  p + h3
    margin-top: 4rem

  p, ul, ol
    margin-bottom: 2rem

    &:last-child
      margin: 0
    
  ul, ol
    &.list.-sentence
      display: block
      li
        display: inline
        white-space: nowrap
        a, a:link, a:visited
          display: inline
          white-space: nowrap
        &:after
          content: ', '
        &:last-child
          &:after
            content: ''
      li:last-child
        &:after
          content: '.'