- description "Tracking and publishing Dublin City Council's votes, motions, and amendments. See how your councillors are representing you on the council."
- keywords "city council, vote tracking, open government"

.view{role: 'layout'}
  .slide
    .wrapper{role: 'layout'}
      .text-block
        %h1.p.-t1 How are your city councillors representing you?
        
        .p.-t2
          :markdown
            Council Tracker tracks and publishes Dublin City Council's votes, motions, and amendments.

  %nav.view-subnav
    .wrapper{role: 'layout'}
      .subnav-items
        .subnav-item.-current
          = link_to "Some recent motions", :motions

  .view-partial
    .view-content.-omega
      .wrapper{role: 'layout'}
        %ul.list.-enumerable
          - @interesting_motions.each do |motion|
            %li
              = link_to motion do
                = render partial: 'motions/motion', locals: {motion: motion}