- description "Tracking and publishing Dublin City Council's votes, motions, and amendments. See how your councillors are representing you on the council."
- keywords "city council, vote tracking, open government"

.view{role: 'layout'}
  %header.view-subheader
    %h3 Recent motions
  %ul.list.-enumerable
    - @interesting_motions.each do |motion|
      %li
        = link_to motion do
          = render partial: 'motions/motion', locals: {motion: motion}