- description "Tracking and publishing Dublin City Council's votes, motions, and amendments. See how your councillors are representing you on the council."
- keywords "city council, vote tracking, open government"

.view{role: 'layout'}
  .intro-slide
    .wrapper{role: 'layout'}
      %h1 How are you local councillors representing you?
      :markdown
        Every five years Dubliners elect councillors to represent them in the city council.

  %nav.view-subnav
    .wrapper{role: 'layout'}
      .subnav-items
        .subnav-item.-current
          = link_to "Some recent motions", :motions

  .view-partial
    .view-content.-omega
      .wrapper{role: 'layout'}
        %ul.list.-enumerable
          - @interesting_motions.each do |motion|
            %li
              = link_to motion do
                = render partial: 'motions/motion', locals: {motion: motion}