- description "Tracking and publishing Dublin City Council's votes, motions, and amendments. See how your councillors are representing you on the council."
- keywords "city council, vote tracking, open government"

.view{role: 'layout'}
  %header.view-header
    .wrapper{role: 'layout'}
      %h1= link_to "Recent motions", :motions

  %main.view-content
    .wrapper{role: 'layout'}
      %ul.list.-enumerable
        - @interesting_motions.each do |motion|
          %li
            = link_to motion do
              = render partial: 'motions/motion', locals: {motion: motion}