%header.view-header
  .wrapper{role: 'layout'}
    .breadcrumbs
      .breadcrumb= link_to 'Meetings', [:admin, :meetings]
      .breadcrumb= link_to @motion.meeting.occurred_on_formatted, [:admin, @motion.meeting]
      .breadcrumb= link_to 'New motion', [:new, :admin, @motion.meeting, :motion]

.view-content
  .wrapper{role: 'layout'}
    = render partial: 'admin/motions/form', locals: { motion: @motion, meeting: @motion.meeting }