- title 'Changelog'
- description "Upcoming and recent progress on the software that runs Council Tracker"
- keywords "open government, civic tech, transparency"

%header.page-header
  .wrapper{role: 'layout'}
    .row
      .col-xs-5.box.-delineated-h
        %h1 Changelog

.primary-main_content
  .wrapper{role: 'layout'}
    .row
      .col-xs-6
        %section
          .text
            :markdown
              This probably isn't a comprehensive 'to do' list, but we'll try to keep it reasonably up to date. Once the code is open-sourced, it'll be a little easier to follow along (and contribute).

        %section
          %header.subheader
            %h2 To do

          %main
            %ul.list.-dashed
              %li More meaningful URLS for meetings, motions, amendments
              %li Simple read-only API (json + csv)
              %li Subscribe to topic or area (via email + rss)
              %li Make the site legible on phone-sized screens
              %li Release the code with an open-source license
              %li Track committee memberships
              %li Track mayorship
              %li Sitemap
              %li Re-architect motions vs agenda items
              %li Search: councillors, motions, amendments
              %li Make sub-pages for councillors' attendance and past votes
              %li More caching!
              %li Get our license house in order

        %section
          %header.subheader
            %h2 16-22 April

          %main
            %ul.list.-dashed.-done
              %li Display Executive's recommendation on motions
              %li Page titles
              %li Error pages
              %li Make data entry & correction easier
              %li Make sure all party affiliations are current in the context they're being displayed in (e.g. cllr stapleton should show up as PBP in a 2015 vote)

        %section
          %header.subheader
            %h2 9-15 April

          %main
            %ul.list.-dashed.-done
              %li Clarify which rules apply to which votes
              %li Update design so voice votes don't look so bad
              %li Add an option for voice votes
              %li Add a published/draft distinction for motions
              %li Implement the more esoteric voting rules
              %li Add local electoral area page
              %li Add topics page
              %li Make media mentions more prominent
              %li Add a basic home page
              %li Create a public to do list
              %li Some fragment caching
