- title 'Submit a correction'
- description "If you see something incorrect on this site, please let us know and we'll make a prompt correction."
- keywords "open government, transparency, data"

%header.page-header
  .wrapper{role: 'layout'}
    .row
      .col-xs-5.box.-delineated-h
        %h1 Submit a correction

.primary-main_content
  .wrapper{role: 'layout'}
    .row
      .col-xs-6
        .text
          :markdown
            We do our best to make sure that the data is correct, so we're really sorry if you've noticed an error creep in. Please let us know by sending us a link to the vote that is wrong, why it is wrong, and the source or sources you are relying on, to [info@dublininquirer.com](mailto:info@dublininquirer.com).
