- title 'Frequently asked Questions'
- description "What votes have you put up? How is the data entered? How do I submit a correction?"
- keywords "open government, transparency, data"

%header.page-header
  .wrapper{role: 'layout'}
    .row
      .col-xs-5.box.-delineated-h
        %h1 Frequently asked Questions

.primary-main_content
  .wrapper{role: 'layout'}
    .row
      .col-xs-6
        .text
          :markdown
            ### What votes have you put up?

            We've put up votes from the monthly full council meeting, budget meetings, and special council meetings. Warning though: this is not everything that councillors have discussed and voted on.

            At City Hall, Dublin's councillors just mostly shout yes or no to pass an item on the agenda. Sometimes, though, for the votes they want to make sure are on the record, they'll use the electronic voting system.

            We've loaded up the vast majority of the votes that councillors have recorded using that electronic system since the beginning of the 2014 council term. We have left off some of the more procedural votes, or those votes that – wrestle as we might – we struggled to match up with what they related to.

            The sheets we get from the council showing the results of these roll-roll votes mostly don't say clearly what a vote was about. Instead, they have a couple of words like "Motion No. 35" or "Vote 4". Putting the votes in means matching these notes to the more detailed passages in meeting minutes, to explain what the vote really was about. This was often a challenge, and occasionally impossible.

            ### How is the data entered?

            There isn't, yet, a way to suck in the voting data from the Dublin City Council website. This data has been plugged in by hand, by staff at the local independent newspaper [Dublin Inquirer](http://www.dublininquirer.com/), and its community of readers.

            Each month, we ask the folks at Dublin City Council for copies of the voting sheets for meetings that have taken place. We've a group of volunteers who then input that data.

            We've tried to make it as easy as possible to understand what the vote was about. After a vote has been loaded up, we at Dublin Inquirer double-check that entry. If you want to get involved in that process, [you can reach us here](/volunteer).

            ### Why would you spend your time doing this?

            Yes, this is something we sometimes ask ourselves. I guess we think it's good for Dubliners to know how their councillors have voted on issues of the day, so that when election times come around, or if you see them on the street, you can ask them about it. And, so they know we, and you, are watching.

            ### I've noticed a mistake. How can I tell you?

            We do our best to make sure that the data is correct, so we're really sorry if you've noticed an error creep in. Please let us know by sending us a link to the vote that is wrong, why it is wrong, and the source or sources you are relying on, to [brian@civictech.ie](mailto:brian@civictech.ie). We'll prioritise fixing that.

            ### Why doesn't my local authority have one of these?

            If you don't live in Dublin and are interested in adding your local councillors' votes to the website, or using the code to make your own council tracker, please get in touch at [brian@civictech.ie](mailto:brian@civictech.ie). The code that powers this site is [available under the Apache 2.0 license](https://github.com/civictech-ie/counciltracker-ie), and we would love to see other groups or individuals use it.

            ### I know ways you can make this better!

            We're working on improving the site, and are open to suggestions. Please bear in mind we are a *really* small team (👋), so we'll do our best to get back to you, but we might not always be as fast as we'd like.

            If you're a web developer, check out the [github repository](https://github.com/civictech-ie/counciltracker-ie) to contribute.

            ### What is Dublin Inquirer?

            Dublin Inquirer is an independent website and monthly newspaper based in Dublin, Ireland. It's dedicated to original local journalism, whether that means council coverage, housing and homelessness, transport, arts and culture, or food.

            Importantly, it's primarily funded by readers, rather than advertisers. If you value independent journalism and would like to support it, you can [learn more about subscriptions on the website](https://www.dublininquirer.com/subscribe/).
