- title 'Volunteer to help'
- description "Council Tracker is a volunteer-run operation and we're always happy to have help."
- keywords "open government, transparency, volunteer"

%header.page-header
  .wrapper{role: 'layout'}
    .row
      .col-xs-5.box.-delineated-h
        %h1 Volunteer to help

.primary-main_content
  .wrapper{role: 'layout'}
    .row
      .col-xs-6
        .text
          :markdown
            There isn't, yet, a way to automatically get the voting data from the Dublin City Council website. So these data have been plugged in by hand, by staff at the local independent newspaper, [Dublin Inquirer](https://www.dublininquirer.com), and its community of readers.

            Each month, we ask the folks at Dublin City Council for copies of the voting sheets for meetings that have taken place. We have a [Facebook (yes, yes, #deletefacebook 😬) group](https://www.facebook.com/groups/233775687189015/) of volunteers who then input that data.

            We've tried to make it as easy as possible to understand what the vote was about. After a vote has been loaded up, we at Dublin Inquirer double-check that entry. If you're interested in getting involved in that process, you can email us at [info@dublininquirer.com](mailto:info@dublininquirer.com), and we'll add you to the inner circle. Thanks for your interest!
