.list-actions
  display: flex
  flex-direction: row
  justify-content: flex-start
  padding-bottom: calc(var(--gutter)/2)
  margin-bottom: calc(var(--gutter)/2)
  border-bottom: 0.55px solid var(--black)