.enumerable.-meeting.-attendance
  .content
    .title= attendance.attendable.meeting_type_in_english
  .date #{ attendance.attendable.occurred_on.strftime('%-d %b \'%y') }

  .attendance= render partial: 'attendances/status', locals: {attendance: attendance}