.enumerable.-vote
  .verdict #{ vote.status.capitalize }

  .content
    .title #{ motion.title }

  .date #{ raw motion.occurred_on.strftime('%d %b \'%y') }

  .outcome
    = render partial: 'votes/result', locals: {voteable: motion}