%ul.list.-enumerable
  - Motion.published.by_occurred_on.voted_on_by(councillor).includes(:votes).each do |motion|
    %li
      = link_to motion do
        = render partial: 'councillors/vote', locals: {motion: motion, vote: motion.votes.find_by(councillor: councillor)}