@font-face
  font-family: "swiss sans"
  src: url('https://d2jelilm07lhuq.cloudfront.net/typefaces/SuisseIntl-Regular-WebXL.woff2') format('woff2')
  font-style: normal
  font-weight: 400

@font-face
  font-family: "swiss sans"
  src: url('https://d2jelilm07lhuq.cloudfront.net/typefaces/SuisseIntl-RegularItalic-WebXL.woff2') format('woff2')
  font-style: italic
  font-weight: 400

@font-face
  font-family: "swiss sans"
  src: url('https://d2jelilm07lhuq.cloudfront.net/typefaces/SuisseIntl-SemiBold-WebXL.woff2') format('woff2')
  font-style: normal
  font-weight: 600

@font-face
  font-family: "swiss sans"
  src: url('https://d2jelilm07lhuq.cloudfront.net/typefaces/SuisseIntl-SemiBoldItalic-WebXL.woff2') format('woff2')
  font-style: italic
  font-weight: 600

@font-face
  font-family: "swiss mono"
  src: url('https://d2jelilm07lhuq.cloudfront.net/typefaces/SuisseIntlMono-Regular-WebXL.woff2') format('woff2')
  font-style: normal
  font-weight: 400

@font-face
  font-family: "swiss mono"
  src: url('https://d2jelilm07lhuq.cloudfront.net/typefaces/SuisseIntlMono-Bold-WebXL.woff2') format('woff2')
  font-style: normal
  font-weight: 800