@font-face
  font-family: "swiss sans"
  src: url('swiss-400.woff2') format('woff2')
  font-style: normal
  font-weight: 400

@font-face
  font-family: "swiss sans"
  src: url('swiss-400i.woff2') format('woff2')
  font-style: italic
  font-weight: 400

@font-face
  font-family: "swiss sans"
  src: url('swiss-600.woff2') format('woff2')
  font-style: normal
  font-weight: 600

@font-face
  font-family: "swiss sans"
  src: url('swiss-600i.woff2') format('woff2')
  font-style: italic
  font-weight: 600

@font-face
  font-family: "swiss mono"
  src: url('swiss-mono-400.woff2') format('woff2')
  font-style: normal
  font-weight: 400

@font-face
  font-family: "swiss mono"
  src: url('swiss-mono-800.woff2') format('woff2')
  font-style: normal
  font-weight: 800
