$mono: "GT America Mono", monospace
$sans: "GT America", sans-serif

// Site colours

$white: #fff
$faint: #f6f6f6
$faintish: #e6e6f3
$grey: #909090
$black: #020202


$blue: #2B56FF
$red: #F90C2C
$green: #18E35D
$yellow: #FFFF00

$blue-faint: #F1F4FE

// Modular Scale

$ms-base: 1rem
$ms-ratio: $major-third

// breakpoints

$small: 568px
$medium: 768px
$large: 1024px
$giant: 1280px

// padding

$padding: 2rem
$border: 2px
