.view-content.-omega
  - motions = local_electoral_area.motions.published.includes(:meeting)
  - if motions.any?
    .wrapper{role: 'layout'}
      %ul.list.-enumerable
        - motions.each do |motion|
          %li
            = link_to motion do
              = render partial: 'motions/motion', locals: {motion: motion}
  - else
    .wrapper{role: 'layout'}
      .empty-explanation
        %div
          %label None recorded