%header.page-header
  .wrapper{role: 'layout'}
    .breadcrumbs
      .breadcrumbs_crumb= link_to "Admin", [:admin, :root]
      .breadcrumbs_crumb
        %h1 Edit media mention

.primary-main_content
  .wrapper{role: 'layout'}
    .row
      .col-xs-12
        %section
          %header.subheader
            %h2 Edit media mention
          %main
            = render partial: 'admin/media_mentions/form', locals: { media_mention: @media_mention, mentionable: @media_mention.mentionable }
