%header.view-header
  .wrapper{role: 'layout'}
    .breadcrumbs
      .breadcrumb= link_to @media_mention.mentionable_type.pluralize, [:admin, @media_mention.mentionable_type.pluralize.downcase.to_sym]
      .breadcrumb= link_to @media_mention.mentionable_type, [:admin, @media_mention.mentionable]
      .breadcrumb= link_to 'Edit media mention', [:new, :admin, @media_mention.mentionable, :media_mention]

.view-content
  .wrapper{role: 'layout'}
    = render partial: 'admin/media_mentions/form', locals: { media_mention: @media_mention, mentionable: @media_mention.mentionable }