.attendance-status
  height: 1.4rem
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  color: var(--white)
  font-size: var(--t6)
  text-transform: uppercase
  padding: 0 0.5rem
  line-height: 2
  text-align: center
  font-weight: 600
  border-radius: 0.25rem
  
  &.-expected, &.-present
    background-color: var(--green)
  &.-absent, &.-apologies
    background-color: var(--red)