.enumerable
  flex-grow: 1
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  position: relative

  .content
    flex-grow: 1
    flex-shrink: 1
    text-align: left
    padding-right: 6rem
    overflow: hidden

    .title, .name
      font-weight: 400
      white-space: nowrap
      overflow: hidden
      height: 1.3em
      width: 100%
      text-overflow: ellipsis
  
  &.-meeting
    .date, .attendees
      flex-grow: 0
      flex-shrink: 0
      width: 25%
  
  &.-vote
    .date, .outcome, .verdict
      flex-grow: 0
      flex-shrink: 0
      width: 12.5rem
    
    .outcome
      display: flex
      flex-direction: row
      justify-content: flex-end

      .vote-result
        width: 10rem
  
  &.-motion
    .date, .outcome, .verdict
      flex-grow: 0
      flex-shrink: 0
    
    .content

    .date
      width: 20%
    .outcome
      width: 30%
    
    .outcome
      display: flex
      flex-direction: row
      justify-content: space-between

      .breakdown

      .vote-result
        margin-left: 4rem
        width: 10rem
  
  &.-councillor
    .area, .party
      flex-grow: 0
      flex-shrink: 0
      width: 25%
    
    .party-indicator
      width: 2.75rem
      svg
        display: block
        margin: 0 auto 0 0
        width: 75%
        height: auto

    figure
      opacity: 0
      position: absolute
      width: 18rem
      height: 18rem
      right: calc(50% + var(--unit))
      background: var(--blue)
      transition: opacity ease 1s
      img
        position: absolute
        left: 0
        top: 0
        width: 100%
        height: 100%
        object-fit: cover
        object-position: center
    
    &:hover
      figure
        opacity: 1
        pointer-events: none
        transition: opacity ease 0