.meta-data
  display: flex
  flex-direction: column
  flex-wrap: wrap
  justify-content: flex-start
  align-items: flex-start
  
.meta-data_block
  flex-basis: 50%
  flex-grow: 1
  flex-shrink: 1
  margin-bottom: var(--gutter)
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: flex-start

  .empty-value
    display: inline-block
    color: rgba(#000,0.5)

  label
    font-size: var(--t4)