.view-header
  position: fixed
  top: 0
  right: 0
  left: 0
  background: var(--white)
  z-index: 15

  .nav-items
    display: flex
    flex-direction: row
    justify-content: stretch
    margin-left: -1rem
    margin-right: -1rem
  
  .nav-item
    flex: 1
    display: flex
    flex-direction: row
    justify-content: stretch
  
  h1, h1 a
    font-weight: 400
    white-space: nowrap
    text-overflow: ellipsis
    overflow: hidden

    a, a:link, a:visited
      color: var(--black)

  a, a:link, a:visited
    display: block
    flex: 1
    padding-top: 2.5rem
    padding-bottom: 0.5rem
    border-bottom: 1px solid var(--black)
    color: var(--grey)
    &:hover
      color: var(--black)

  .wrapper[role='layout']

  @media screen and (min-width: '800px')
    left: var(--sidebar-width)