.vote-result
  color: var(--white)
  font-size: var(--t5)
  text-transform: uppercase
  padding: 0 0.5rem
  text-align: center
  font-weight: 600
  
  &.-pass
    background-color: var(--green)
  &.-fail
    background-color: var(--red)