.enumerable.-motion.-amendment
  .indicator.vote-indicator
    = render partial: 'icons/vote', locals: {voteable: amendment}

  .content
    .title #{ amendment.body }

  .detail
    = render partial: 'votes/breakdown', locals: {voteable: amendment}